@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    /*text colors*/
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);

    /*gradient*/
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /*secondary*/
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

}

body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: var(--light-grayish-violet);
    font-family: "Rubik", sans-serif;
}

main{
    max-width: fit-content;
    display: flex;  
}

.elements{
    width: 31.3rem;
    height: 46.8rem;
    position: absolute;
    z-index: -1;
}

.left{
    left: -5rem;
    top: -3rem;
    border-radius: 0 0 500px 500px;
    background:linear-gradient(var(--light-magenta),var(--light-violet));
}

.right{
    right: -5rem;
    top: 3rem;
    background-color: var(--grayish-blue);
    border-radius: 500px 500px 0 0;
    opacity: .1;
}

.application{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.device-design{
    position: relative;
    top: 9rem;
    left: 27%;
    width: 15rem;
    height: 31.5rem;
    background-color: var(--white);
    padding: .6rem;
    border-radius: 35px;
}

.camera{
    width: 45%;
    height: 1.3rem;
    transform: translateX(50%);
    position: absolute;
    background-color: var(--white);
    padding: 0 6px;
    border-radius:0 0 15px 15px;
}

.header{
    position: relative;
    top: 3px;
    width: 100%;
    height: 4.2rem;
    background:linear-gradient(to left, var(--light-magenta),var(--light-violet));
    border-radius: 15px 15px 3px 3px;
}

.profile-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.profile-info > img{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border:1px solid var(--white);
}
.about{
    position: relative;
    font-size: 10px;
    color: var(--white);
}
.about>h2{
    margin-top: 2rem;
    font-size: 11px;
}

.chat-body{
    position: relative;
    top: 0;
    font-size: 8px;
    border-radius:0 0 35px 35px;
    max-height: max-content;
    background-color: var(--light-grayish-violet);
}

.chat{
    width: 7.5rem;
    max-width: fit-content;
    position: relative;
    top: .8rem;
    padding:.5rem;
    margin:0 1rem .5rem;
}

.sender{
    float: left;
    color: var(--moderate-violet);
    background-color:hsla(206, 7%, 79%, 0.534);
    border-radius: 10px 10px 10px 1px;
    box-shadow: 1px 1px 5px var(--dark-grayish-violet);
}
.receiver{
   float: right;
   background-color: var(--white);
   border-radius: 10px 10px 1px 10px;
   color: var(--desaturated-dark-violet);
   box-shadow: 1px 1px 5px var(--dark-grayish-violet);
}

.payment{
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    top: .4rem;
}

.opt{
    max-width: 10rem;
    border-radius: 10px 10px 10px 2px;
    padding:.5rem 1rem;
    accent-color: var(--very-light-magenta);
    color: var(--white);
    background:linear-gradient(to right, var(--light-magenta),var(--light-violet)) ;
}

.images{
    display: flex;
    background-color: transparent;
    justify-content: space-evenly;
    float: right;
}

.dog-pic{
    width: 3rem;
    border-radius: 13px;
    margin: 0 2px;
}

.text{
    width: max-content;
    padding:.5rem;
    margin:1.6rem 1rem .5rem;
    border-radius: 25px;
    border: none;
    color: var(--grayish-blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }